pake removes the need for supported_groups and signature_algorithms

RFC 8446, section 9.2 has this text:

>    -  If not containing a "pre_shared_key" extension, it MUST contain
>      both a "signature_algorithms" extension and a "supported_groups"
>      extension.

This text is correct for RFC 8446, but this draft introduces another option that removes the need for the certificate-based flow. We probably need a sentence somewhere saying that explicitly.