Rename NamedPAKE to just PAKE or so?

I'm guessing NamedPAKE was chosen in reference to NamedGroup and NamedCurve? AIUI, "named" there is because both ECDHE and DHE had incarnations in TLS where, rather than referencing the algorithm by name, you spelled the parameters out explicitly.

* DHE had the pre-RFC-7919 formulation where the server just specified p and g on the wire. (The post-RFC-7919 formulation is also didn't really fix it, but that's beside the point. 😄)
* RFC 4492, before RFC 8996 removed it, had `arbitrary_explicit_prime_curves` and `arbitrary_explicit_char2_curves` for spelling the ECDHE curve out.

These explicit options were widely considered mistakes, so hopefully we won't have this named vs explicit dichotomy to capture anymore. Elsewhere, cipher suites and signature schemes are also names given to parameter sets, and we just call them CipherSuite and SignatureScheme since there is an alternate to distinguish.

Given that, should we rename `NamedPAKE` to just `PAKE` or something? (And then folks aren't tempted to stick "named" in APIs, which seems just confusing. 😄 )

I defer to your knowledge of the history of "named" prefixes and I agree we don't want to imply we are also supporting an "explicit" parameter mode! But when just `PAKE` is used I think parts of the draft could be confusing to read since there could potentially be different `PAKE`'s all using the same underlying PAKE but with different parameters selected. (e.g. `SPAKE2PLUS_V1` and a theoretical `SPAKE2PLUS_V2`). 

I like PAKEScheme. I think algorithm still somewhat implies that it is referring to a particular PAKE/family of PAKEs. I think Scheme is fuzzy enough that it avoids that but still provides enough context on what the enum is. 

SGTM!